spring.application.name=penguins
spring.datasource.url=jdbc:postgresql://localhost:5432/penguins
spring.datasource.username=<db-username>
spring.datasource.password=<db-password>

spring.datasource.driver-class-name=org.postgresql.Driver

# Hibernate settings
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect
# Validate
spring.jpa.hibernate.ddl-auto=validate
spring.jpa.defer-datasource-initialization=false

# Create-drop
#spring.jpa.hibernate.ddl-auto=create-drop
#spring.jpa.defer-datasource-initialization=true
#spring.sql.init.mode=always